.profile-container {
    margin: 20px;
    padding: 20px;
    background-color: var(--gray);
    border-radius: 10px;
    .logout{
        width: max-content;
        padding: 10px 18px;
        border-radius: 20px;
        border: none;
        background-color: var(--orange);
        color: var(--gray);
        font-size: 14px;
        margin-top: 50px;
        cursor: pointer;
    }
  
    h2 {
      color: var(--green);
      margin-bottom: 20px;
    }
  
    .profile-info {
      .info-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
  
        .label {
          color: var(--orange);
          font-weight: bold;
        }
      }
    }
  
    @media (max-width: 768px) {
      .profile-container {
        margin: 10px;
        padding: 10px;
      }
  
      .profile-info {
        .info-item {
          flex-direction: column;
        }
      }
    }
  }
  