.authfailed{
    height: 50vh;
    display: grid;
    place-items: center;
    .authfailedContents{
        display: flex;
        flex-direction: column;
        gap: 20px;
        a{
            background-color: var(--orange);
            border: none;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            width: max-content;
            padding: 10px 25px;
            font-size: 18px;
        }
    }
}